@tailwind base; 
@tailwind components; 
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-1 text-white font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3{
    @apply text-2xl;
  }
  h4{
    @apply text-xl;
  }
  h5{
    @apply text-lg;
  }


  /* overriding form input elements :focus*/
  [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus{
  @apply ring-yellow border-yellow ring-0
  }
  select:focus  {
    @apply ring-transparent ring-0;
  }


  input[type=range]::webkit-slider-thumb, input[type=range]::-moz-range-thumb {
    @apply bg-white cursor-pointer w-3 h-3;
  }
  input[type=range]:active, input[type=range]:focus{
    @apply outline-0
  }
  input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track { 
    @apply w-[188px] h-[2px] cursor-pointer bg-white rounded;
  }

}

@layer components {
	.bg-gradient-1 {
	    @apply bg-gradient-to-r from-secondary to-primary;
	}
	.text-gradient-1 {
    @apply pb-1 text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
}

.sidebar{

  

  height: 100%;
  overflow: auto;
}


.sidebar-item{
  margin-left: 1.em;
  padding: 5%;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}



.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: 1.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
  background: #1E2235;
}
.sidebar-item.plain:hover{
  background: #51D9D9;
  color: #1E2235;
}
.sidebar-item.plain i{
 
  width: 1.7em;
  
} 

.scrollbar {
  scrollbar-width: thin;
}




