@tailwind base; 
@tailwind components; 
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-1 text-white font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3{
    @apply text-2xl;
  }
  h4{
    @apply text-xl;
  }
  h5{
    @apply text-lg;
  }


  /* overriding form input elements */
  [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], select {
    @apply bg-transparent p-0 border-0
  }
  [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus{
    @apply ring-yellow border-yellow ring-0;
  }
  select:focus  {
    @apply ring-transparent ring-0;
  }

   /* Range filter */
  input[type='range']{
    @apply cursor-pointer;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
     @apply appearance-none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    @apply bg-background-4 h-0 appearance-none
  }
  input[type='range']::-webkit-slider-thumb {
    @apply relative h-4 w-4 left-2 -m-2 bg-neutral rounded-xl cursor-pointer
  }

}

@layer components {
	.bg-gradient-1 {
	    @apply bg-gradient-to-br from-secondary to-primary;
	}
	.text-gradient-1 {
    @apply pb-1 text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }
}

:root{
  /* react-toastify override */
  --toastify-color-light: #dcdef3;
  --toastify-color-dark: #1E2235;
  --toastify-color-info: #252A41;
  --toastify-color-success: #252A41;
  --toastify-color-warning: #FBBC05;
  --toastify-color-error: #EA4335;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-text-color-success: #51D9D9;
}
.sidebar{

  

  height: 100%;
  overflow: auto;
}


.sidebar-item{
  margin-left: 1.em;
  padding: 5%;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}



.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: 1.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
  background: #1E2235;
}
.sidebar-item.plain:hover{
  background: #51D9D9;
  color: #1E2235;
}
.sidebar-item.plain i{
 
  width: 1.7em;
  
} 

.scrollbar {
  scrollbar-width: thin;
}
 

